<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    
    <%- include('../partials/header')%>
   
    <main id="product-upload__main">
        <section id="product-upload__section">
            <form action="/products/create" method="POST" id="product-upload__form" enctype="multipart/form-data">

                <div class="h1-center">
                    <h1>ADD NEW PRODUCT</h1>
                </div>
                <ul class="errors"></ul>
                <div class="image-upload-container">
                    <div class="title-container">
                        <h3>PRODUCT IMAGES</h3>
                    </div>
                    
                    <ul id="loaded-images-ul">
                        <li>
                            <label for="file">
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                            </label>
                            <input name="images" id="file" type="file" multiple>
                        </li>
                        
                        <li>
                            <small class="errors-style"><%= typeof errors == 'undefined' ? '' : typeof errors.images == 'undefined' ? '' : errors.images.msg %></small>
                        </li>
                    </ul>
                    

                </div>
                <div class="product-data-container">
                    <ul class="product-price-discount">
                        <li>
                            <div>
                                <h3>ART.</h3>
                            </div>
                            <div>
                                <label for="art"></label>
                                <% if(typeof old != 'undefined') {%>
                                    <input class= "input-style width-input-price-discount" type="text" value="<%= old.art ? old.art: '' %>" name="art" id="productArt">
                                <% } else {%>
                                    <input class= "input-style width-input-price-discount" type="text" value="" name="art" id="productArt">
                                <% } %>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>PRODUCT TYPE</h3>
                            </div>
                                <select name="type" class="input-style input-types width-input-price-discount" >
                                    <option value="" selected>-</option>
                                    <% for (type of types){%>
                                        <option value="<%= type.id %>"><%= type.title.toUpperCase() %></option>
                                    <% } %>
                                </select>
                                <small class="errors-style "><%= typeof errors == 'undefined' ? '' : typeof errors.type == 'undefined' ? '' : errors.type.msg %></small>
                        </li>
                    </ul>
                    
                    <div class="title-container">
                        <h3>PRODUCT NAME</h3>
                    </div>
                    <div class="product-data">
                        <label for="name"></label>
                        <% if(typeof old != 'undefined') {%>
                            <input type="text" class="input-style" value="<%= old.name ? old.name : '' %>" name="name" id="create-name"> 
                            <small class="errors-style"><%= typeof errors == 'undefined' ? '' : typeof errors.name == 'undefined' ? '' : errors.name.msg %></small>
                        <% } else { %>
                            <input type="text" class="input-style" value="" name="name" id="create-name"> 
                        <% } %>
                    </div>
                    <div class="title-container">
                        <h3>PRODUCT DESCRIPTION</h3>
                    </div>
                    <div class="product-data">
                        <label for="description"></label>
                        <%  if(typeof old != 'undefined'){%>
                            <textarea class="input-style textarea-style" name="description" id="description" cols="30" rows="10"><%= old.description ? old.description : '' %></textarea>
                        <% } else{%>
                            <textarea class="input-style textarea-style" name="description" id="description" cols="30" rows="10"></textarea>
                        <% }%>
                       
                    </div>
                    <div class="product-price-discount">
                        <div>
                            <p>PRICE</p>
                            <label for="price"> $ </label>
                            <% if(typeof old != 'undefined') {%>
                                <input class= "input-style width-input-price-discount" type="text" value="<%= old.price ? old.price : '' %>" name="price" id="productPrice">          
                                <small class="errors-style "><%= typeof errors == 'undefined' ? '' : typeof errors.price == 'undefined' ? '' : errors.price.msg %></small>
                            <% } else { %>
                                <input class= "input-style width-input-price-discount" type="text" value="" name="price" id="productPrice">
                            <% } %>
                        </div>
                        <div>
                            <p>WHOLESALE PRICE</p>
                            <label for="price"> $ </label>
                            <% if(typeof old != 'undefined') {%>
                                <input class= "input-style width-input-price-discount" type="text" value="<%= old.wholesaleprice ? old.wholesaleprice : '' %>" name="wholesaleprice" id="productWholesalePrice">
                            <% } else {%>
                                <input class= "input-style width-input-price-discount" type="text" value="" name="wholesaleprice" id="productWholesalePrice">
                            <% } %>
                        </div>
                        <div>
                            <p>DISCOUNT</p>
                            <label for="discount"> %</label>
                            <% if(typeof old != 'undefined') {%>
                                <input class= "input-style width-input-price-discount" type="text" value="<%= old.discount ? old.discount : '' %>" name="discount" id="productPromo">
                        
                                <small class="errors-style "><%= typeof errors == 'undefined' ? '' : typeof errors.discount == 'undefined' ? '' : errors.discount.msg %></small>
                            <% } else {%>
                                <input class= "input-style width-input-price-discount" type="text" value="" name="discount" id="productPromo">
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="manage-inventory-container">
                    <div class="title-container">
                        <h3>MANAGE INVENTORY</h3>
                    </div>

                    <div class="manage-form-container">
                        <div id="div-upload-data">
                            <ul class="ul-upload-data" id="0">
                                <li>
                                    <input type="checkbox" name="colorSizeQtyCheckbox" class="ul-checkbox">
                                </li>
                                <li>
                                    <p>SIZE</p>
                                    <select name="size" class="input-style" id="size">
                                        <option value="" selected>-</option>
                                        <% for (size of sizes){%>
                                            <option value="<%= size.id  %>"><%= size.title %></option>
                                        <% } %>
                                    </select>
                                </li>
                                <li>
                                    <p>COLOR</p>
                                    <select name="color" class="input-style" id="color">
                                        <option value="" selected>-</option>
                                        <% for (color of colors){%>
                                            <option value="<%= color.id  %>"><%= color.title %></option>
                                        <% } %>
                                    </select>
                                </li>
                                <li>
                                    <p>QTY</p>
                                    <input type="number" class="input-style" name="qty" value="<%= old.qty ? old.qty : '' %>">
                                </li>
                                <li class="save-cancel">
                                    <a href="#" class="save-product">Save</a>
                                    <a href="#">
                                        <span class="material-icons cancel-product clear-button">
                                            clear
                                        </span>
                                    </a>   
                                </li>
                            </ul>
                        
                        </div>

                        <div class="submit-button-container">
                            <button type="button" id="add-more-button">+ ADD MORE</button>
                            <button type="button" id="delete-option-button">DELETE SELECTED</button>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="submit-button-container">
                    <button type="button" id="create-button">UPLOAD PRODUCT</button>
                </div>
            </form>
        </section>





    </main>
    
    <%- include('../partials/footer')%>
    <script src="/scripts/validator/create.js"></script>
    <script src="/scripts/productStock.js"></script>
</body>
</html>