<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <body>
    
        <%- include('../partials/header')%>

        <main>
            <section>

                <div id="product-detail">
                    <div class="product-detail-imgs">
                        <div class= "thumbnail-img-container">
                           
                                <% for (image of product.images){%>
                                   <img src="/imgs/products/<%= image %>" alt="" class="thumbnail-img" >
                                <%}%>
                            
                        </div>

                        <div class= "zoom-img">
                            <a href=""><img src="/imgs/products/<%= product.images[0] %>" alt="" class="zoom-img"></a>    
                        </div>
                    </div>  

                    <div class="product-detail-text">
                        <div class="product-detail-title">

                            <ul class= "product-detail__name-heart">
                                <h1><%= product.name %></h1>
                                <i class="far fa-heart"></i>
                            </ul>
                            
                            <ul class= "product-detail__price-promotions">
                                <span class="product-detail__price"><%= product.price %></span>
                                <a href="" class= "product-detail__promotions"><i class="fas fa-tag"></i>PROMOTIONS</a>
                            </ul>
                            
                        </div>

                        <form action="" method="POST" class="product-detail-selector">
                            
                            <div class="product-detail__colors">
                                <legend>COLORS</legend>
                                <ul>
                                    <li><input type="radio" name="color" class= "color-circle"></li>
                                    <li><input type="radio" name="color" class= "color-circle"></li>
                                    <li><input type="radio" name="color" class= "color-circle"></li>
                                    <li><input type="radio" name="color" class= "color-circle"></li>
                                    <li><input type="radio" name="color" class= "color-circle"></li>
                                </ul>
                            </div>
                                
                            <div>
                                <select name="size" class="product-detail__select">
                                    <option value="" disabled selected>SIZE</option>
                                    <option value="small">S</option>
                                    <option value="medium">M</option>
                                    <option value="large">L</option>
                                </select>
                            </div>

                            <div>
                                <select name="qty" class="product-detail__select">
                                    <option value="" disabled selected>QTY</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            
                            <div>
                                <button type="submit" class="add-to-cart"><i class="fas fa-shopping-cart"></i> ADD TO CART</button>
                            </div>
                        </form>
                        
                        <div class="product-detail__details">
                            <ul>
                                <li><p>DETAILS</p></li>
                                <li>
                                    <span class="material-icons">
                                        add
                                    </span>
                                </li>
                            </ul>
                            <ul>
                                <li><p>SIZE GUIDE</p></li>
                                <li>
                                    <span class="material-icons">
                                        add
                                    </span>
                                </li>
                            </ul>
                            <ul>
                                <li><p>SHIPPING</p></li>
                                <li>
                                    <span class="material-icons">
                                        add
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </section>
            
            <section class="product-suggest">
                <h3>You may also like:</h3>
                <div class="product-suggest-container">
                    <div class="icon-container">
                        <span class="material-icons">
                            navigate_before
                        </span>
                    </div>
    
    
                    <div class="wishlist-img">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
    
                    </div>
    
                    <div class="wishlist-img">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
    
                    </div>
    
                    <div class="wishlist-img">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
    
                    </div>
    
                    <div class="wishlist-img">
    
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
    
                    </div>
    
    
                    <div class="wishlist-img">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
    
                    </div class="wishlist-img">
    
                    <div class="icon-container">
                        <span class="material-icons">
                            navigate_next
                        </span>
                    </div>
                    </div>
                </div>
            </section>

        </main>

        <!-- FOOTER -->

        <%- include('../partials/footer')%>
    
    </body>
</html>