<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <!-- HEADER -->

    <%- include('../partials/header')%>

    <main>
        

        <section id="new-arrivals">
            <div class="h1-center">
                <h1><%= type.toUpperCase() %></h1>
            </div>

            <div class="products-container">

                <% for(product of products){ %>
                 
                    <article class="product-container">
                        <a href="/products/detail/<%= product.id %>">
                           
                              <img src="/imgs/products/<%= product.images[0].filename[0] %>" alt=""> 
                                  
                            <div class="product-detail">
                                <div class="name-price-product-container">
                                    <h3><%= product.name %></h3> 
                                    <p>$<%= product.price %></p>
                                </div>
                            </div>
                            <div>
                                <span class="material-icons-outlined">
                                    favorite_border
                                </span>
                            </div>
                        </a>
                    </article>

                    
                <% } %>

            </div>
        </section>
    </main>
    
    <!-- FOOTER -->

    <%- include('../partials/footer')%>
           
</body>
</html>