<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="h1-center">
            <h1>My Profile</h1>
        </div>
        <div class="user-profile-style">
            <section>
                <ul class="user-profile-data">
                    <li>First Name: <%= userLog.firstName  %> </li>
                    <li>Last Name: <%= userLog.lastName  %> </li>
                    <li>Email: <%= userLog.email %></li>
                    <li>Bitrthday: <%= userLog.birthday %></li>
                    <li>Counrty: <%= userLog.country  %> </li>
                    <li>City: <%= userLog.city  %> </li>
                </ul>

            </section>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>