<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="h1-center">
            <h1>My Profile</h1>
        </div>
        <div class="user-profile-style">
            <section>
                <ul class="user-profile-data">
                    <li>First name: <%= userLog.first_name  %> </li>
                    <li>Last name: <%= userLog.last_name  %> </li>
                    <li>E-mail: <%= userLog.email %></li>
                    <li>Birthday: <%= userLog.birthday %></li>                 
                </ul>
            </section>
        </div>
        <div class="submit-button-container">
            <form action="/users/edit/<%= userLog.id%>" method="GET" name="button" >
                <button type="submit" class="buttons-detail" name="button">EDIT</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>