<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="h1-center">
            <h1>My Profile</h1>
        </div>
        <div class="user-profile-style">
            <ul class="user-profile-data">
                <li>First name: <%= userLog.first_name  %> </li>
                <li>Last name: <%= userLog.last_name  %> </li>
                <li>E-mail: <%= userLog.email %></li>
                <li>Birthday: <%= userLog.birthday %></li>                 
            </ul>
        </div>
        <div class="submit-button-container">
            <a href="/users/edit/<%= userLog.id%>">
                <button type="button" class="buttons-detail" name="button">EDIT PROFILE</button>
            </a>
            <% if(userLog.user_type_id == 1 || userLog.user_type_id == 2){%>
                <a href="/products/create">
                    <button href="/products/create" type="button" class="buttons-detail" name="button">NEW PRODUCT</button>
                </a>
                <a href="/products/create/colors">
                    <button href="/products/create/colors" type="button" class="buttons-detail" name="button">COLORS</button>
                </a>
                <a href="/products/create/sizes">
                    <button href="/products/create/sizes" type="button" class="buttons-detail" name="button">SIZES</button>
                </a>
            <% } %>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>